<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycredibleinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".certificate"></activity>
        <activity android:name=".updatePassword" />
        <activity android:name=".updateEducationalActivity" />
        <activity android:name=".updateProfessionalDetail" />
        <activity android:name=".updatePersonalDetail" />
        <activity android:name=".deleteAccount" />
        <activity android:name=".successSignup" />
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity android:name=".details" />
        <activity android:name=".educationalDetail" />
        <activity android:name=".professionalDetail" />
        <activity android:name=".personalDetail" />
        <activity android:name=".wrgActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>